<div style="border-bottom: 1px solid #e5e5e5;">
	<h3><a href="{{url}}">{{title}}</a></h3>
	<p style="font-style: italic;">Shared by {{sharer}} on {{getDate timestamp 'ddd, MMM D, YY [at] h:mmA'}}</p>
	<p>{{description}}</p>
</div>
